version: "3.8"

networks:
  node_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
  monitoring:
    driver: bridge

services:
  tool-node:
    image: gcr.io/constellation-458212/tool-node:tool-dns
    container_name: tool-node
    restart: unless-stopped
    ports:
      - 8545:8545/tcp
      - 8546:8546/tcp
      - 8551:8551/tcp
      - 30303:30303/tcp
      - 30303:30303/udp
      - 9060:9060/tcp
      - 6060:6060/tcp
    volumes:
      - /data/data-disk/node:/node
      - ./secrets/nodekey:/node/nodekey:ro
    networks:
      monitoring: {}
      node_net:
        ipv4_address: 172.20.0.10
    command: >-
      --hoodi
      --datadir=/node
      --nodekey=/node/nodekey
      --authrpc.jwtsecret=/node/jwtsecret
      --http.api=engine,eth,web3,net,tool,admin
      --ws.api=engine,eth,web3,net
      --metrics
      --metrics.addr=0.0.0.0
      --metrics.port=6060
      --config=default
      --discovery.tool-dns=enrtree://AO7WHA56ZB2MZZZ2IAM5NIX7FUMAIHYQXYY33HUZ2K4BMCKBZWZAQ@tool.hoodi.sdoba.vip
      --relay.beacon-endpoints=http://lighthouse:5052
      --relay.secret-key-hex=28c3cd61b687fdd03488e167a5d84f50269df2a4c29a2cfb1390903aa775c5d0
      --public-sync
      --tee-verifier=0xd177e09fB4Db2379F55E177047F38f5a7F44AEAe
      --history.blocks=512
      --history.chain=all

  lighthouse:
    image: docker.io/sigp/lighthouse:latest
    container_name: lighthouse
    restart: unless-stopped
    ports:
      - 9000:9000/tcp
      - 9000:9000/udp
      - 5054:5054/tcp
    networks:
      - monitoring
      - node_net
    volumes:
      - /data/data-disk/node:/node
    command: >-
      lighthouse bn
      --datadir /node
      --execution-jwt=/node/jwtsecret
      --execution-endpoint=http://tool-node:8551
      --disable-upnp
      --disable-enr-auto-update
      --enr-tcp-port=9000
      --enr-udp-port=9000
      --listen-address=0.0.0.0
      --port=9000
      --discovery-port=9000
      --http
      --http-address=0.0.0.0
      --http-port=5052
      --metrics
      --metrics-address=0.0.0.0
      --metrics-port=5054
      --checkpoint-sync-url=https://checkpoint-sync.hoodi.ethpandaops.io
      --network=hoodi
      --always-prepare-payload
      --prepare-payload-lookahead=12000
      --suggested-fee-recipient=0x00000000000000000000000000000000DeaDBeef

  node-exporter:
    image: docker.io/prom/node-exporter:v1.9.1
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - "--path.procfs=/host/proc"
      - "--path.rootfs=/rootfs"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"
    ports:
      - 9100:9100/tcp
    networks:
      - monitoring

  controller:
    image: gcr.io/constellation-458212/controller:latest
    pull_policy: never
    container_name: controller
    cap_add:
      - NET_ADMIN
    ports:
      - "8080:8080"
      - "2222:22"
    environment:
      - TOOL_NODE_IP=172.20.0.10
      - NODE_NET_SUBNET=172.20.0.0/24
      - PORT=8080
    networks:
      node_net:
        ipv4_address: 172.20.0.20

  operator:
    image: gcr.io/constellation-458212/operator:latest
    pull_policy: never
    container_name: operator
    network_mode: "service:controller"
    depends_on:
      - controller
    volumes:
      - /data/workload/config:/config
