RPC_DOMAIN {
	reverse_proxy tool-node:8545
}

CVM_AGENT_DOMAIN {
	reverse_proxy host.docker.internal:8000 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

CONTROLLER_DOMAIN {
	reverse_proxy controller:8080
}
